name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-latest
            target: i686-pc-windows-msvc

    steps:
    - uses: actions/checkout@v4
    
    - name: Update local toolchain
      shell: bash
      run: |
        rustup update
        rustup target add ${{ matrix.target }}
        rustup component add clippy
        
    - name: Build
      run: cargo build --verbose --target ${{ matrix.target }}
      
    - name: Run tests
      run: cargo test --verbose --target ${{ matrix.target }}
